* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #2c3e50;
  }
  
  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-register {
    width: 98%;
    max-width: 500px;
    margin: auto;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .form__titulo {
    background: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 5px solid #2c3e50;
  }
  
  .contenedor-inputs {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  input {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .input-48 {
    width: 48%;
  }
  
  .input-100 {
    width: 100%;
  }
  
  .btn-enviar {
    background: #e74c3c;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn-enviar:hover {
    background: #c0392b;
  }
  
  .btn-enviar:active {
    transform: scale(1.05);
  }
  
  .form__link {
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
    color: #666;
    text-decoration: none;
  }
  
  .form__link:hover {
    color: #333;
  }